<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>湖汽课表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="https://cdn1.d5v.cc/CDN/Project/Course/favicon.ico">
    <link href="https://cdn1.d5v.cc/CDN/Project/Course/tailwindcss%402.2.19_dist_tailwind.min.css" rel="stylesheet">
    <script>
        function close_header() {
            var header = document.getElementById("header");
            if (header) {
                header.style.display = "none";
            }
        }

        function collect() {
            if (window.sidebar && window.sidebar.addPanel) { // For Firefox
                window.sidebar.addPanel(document.title, window.location.href, "");
            } else if (window.external && ('AddFavorite' in window.external)) { // For Internet Explorer
                window.external.AddFavorite(window.location.href, document.title);
            } else if (window.opera && window.print) { // For Opera
                var bookmark = document.createElement('a');
                bookmark.setAttribute('href', window.location.href);
                bookmark.setAttribute('title', document.title);
                bookmark.setAttribute('rel', 'sidebar');
                bookmark.click();
            } else {
                alert("请使用浏览器的书签功能（通常是Ctrl+D）添加到收藏夹。");
            }
        }
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        body::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: -1; /* 将遮罩层放在正常元素的下方 */
        }

        /* Your additional styles for content go here */
    </style>
</head>
<body class="bg-white font-sans leading-normal tracking-normal flex flex-col min-h-screen">
<div id="header"
     class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1 flex items-center justify-center mx-auto">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
         aria-hidden="true">
        <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
             style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
         aria-hidden="true">
        <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
             style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2 ">
        <p class="text-sm leading-6 text-gray-900 text-center">
            ⚠ 记住新网址 <b style="color: #007a3f">c.d5v.cc</b>
        </p>
        <a href="#" onclick="collect()"
           class="flex-none rounded-full bg-green-600 hover:bg-green-700 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
            收藏 <span aria-hidden="true">&rarr;</span></a>
    </div>
    <div class="flex flex-1 justify-end">
        <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]" onclick="close_header()">
            <span class="sr-only">Dismiss</span>
            <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"/>
            </svg>
        </button>
    </div>
</div>


<div id="popup" class="fixed inset-0 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg">
        <div class="flex flex-col items-center">
            <img src="https://cdn1.d5v.cc/CDN/Project/Course/giphy.gif" alt="error" width="200px"/>
            <p class="text-lg text-gray-800 mb-4">最新2024第二学期课表已发布！</p>
            <p class="text-m text-gray-400 mb-2 text-center">课表根据官方文件生成<br/>开学初期课表<span
                    class="text-red-300">可能</span>更改<br/>请收藏网站保持最新</p>
            <button onclick="document.getElementById('popup').style.display = 'none';"
                    class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-800">确定
            </button>
        </div>
    </div>
</div>


<form method="post" class="container mx-auto mt-8 px-4 lg:px-0">
    <img src="https://cdn1.d5v.cc/CDN/Project/Course/hq.png" alt="logo" class="mx-auto h-24 w-24 md:w-32 md:h-32">

    <h1 class="font-bold text-2xl mb-2 text-center">🌈湖汽 课程表📆</h1>
    <label class="block">
        <div id="search-box" class="flex flex-col md:flex-row items-center justify-center mb-4">
            <input placeholder="输入班级，搜索课程表..." type="text" name="search_query"
                   class="input border py-2 px-3 text-grey-darkest w-full md:w-1/2 mb-4 md:mb-0 md:mr-2">
            <button class="button bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full md:w-auto">
                <span>🔍搜索</span>
            </button>
        </div>
    </label>
    {% if msg %}
    <h2 class="text-center text-red-500">{{ msg }}</h2>
    {% else %}
    {% if results %}
    <h2 class="text-center text-green-500">搜索结果:</h2>
    {% elif not index %}
    <h2 class="text-center text-red-500">没有搜索到班级 请搜索你们班级的名称</h2>
    <div class="text-center text-gray-600">🔍 ✅电商，而不是 ❌电子商务</div>
    <div class="text-center text-gray-600">🔍 ✅飞制，而不是 ❌飞行器制造</div>
    <div class="text-center text-gray-600">🔍 ✅智交，而不是 ❌交通交通技术</div>
    <div class="text-center text-gray-600">🔍 ✅会计，而不是 ❌大数据与会计</div>
    <br>
    <div class="text-center text-gray-500">
        还有飞修、风电、电气、服设、电子、国贸、工程、机制、军士汽制、军士网络、理想、轮机、旅游、模具、汽检、汽智、人力、视传、室内、中车、智联....
    </div>
    {% endif %}
    {% if results %}
    <ul class="list-disc">
        {% for res, icon in results %}
        <li class="mb-2 border-l-4 border-green-500 pl-2 bg-green-100 rounded-lg list-none" style="max-width: 800px; margin:10px auto;">
            <div class="flex justify-between items-center">
                <img src="https://cdn1.d5v.cc/CDN/Project/Course/icons/{{ icon }}.png" alt="icon"
                     width="40px"/>
                <span class="font-medium text-gray-700">{{ res }}</span>
                <a href="/generate_code?result={{ res }}"
                   class="inline-block bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                   style="margin: 10px ; box-shadow: 0 4px 0 0 white;">点击生成口令</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}


    <h4 class="text-center text-gray-600 mb-8"><img
            src="https://cdn1.d5v.cc/CDN/Project/Course/WakeUp.png" alt="logo" class="inline-block align-middle mr-2"
            style="width: 20px">下载WakeUp<span class="text-xl">👉</span>
        <!--    2024 2 27 替换成直链cdn    -->
        <button onclick="window.open('https://cdn1.d5v.cc/CDN/Project/Course/wakeup.apk')"
                class="bg-green-600 text-white px-3 py-1 rounded hover:bg-green-800">安卓
        </button>
        <button onclick="window.open('appmarket://details?id=com.suda.yzune.wakeupschedule.hmos')"
                class="bg-green-600 text-white px-3 py-1 rounded hover:bg-green-800">鸿蒙
        </button>
        <button onclick="window.open('https://apps.apple.com/cn/app/wakeup%E8%AF%BE%E7%A8%8B%E8%A1%A8/id1553402284')"
                class="bg-green-600 text-white px-3 py-1 rounded hover:bg-green-800">IOS
        </button>
    </h4>
</form>
<footer class="mt-auto bg-gray-200">
    <p class="text-center text-gray-600 py-4">开发者
        <a href="https://www.skv.cool" class="text-green-500 hover:text-green-800">Marshmellond</a>
        <a href="https://d5v.cc" class="text-green-500 hover:text-green-800"> Deadmau5v</a> 反馈邮箱:
        deadmau5v@qq.com
    </p>
</footer>
</body>
</html>
